body{
    background-color: coral;
}
h1{
    color: black;
    text-align: center;
    font-size: larger;

}
p{
    color: goldenrod;
    text-align: center;
    font-size: 40%;
}
#image{
    width: 100%;
    height: 20%;
    border: 2px solid burlywood;
}